@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Permet de définir les propriétés flexbox d'un élément.
 */
/**
 * Permet d'ajouter une bordure rouge sur un élément.
 */
/**
 * Ajoute une bordure noir stylisé sur un élément.
 */
:root {
  --white: #fafafa;
  --black: #1B1212;
  --pastel: #F2CEEC;
  --dark-pastel: #C4AFE3;
  --black-transparence: #1b1212b4;
}

html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.5;
  font-family: "Plus Jakarta Sans", sans-serif;
  color: var(--black);
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--pastel);
}

button {
  padding: 0;
  border: none;
  color: var(--black);
  background-color: transparent;
  cursor: pointer;
}

.back {
  padding: 0.3rem;
  border-radius: 0.6rem;
  border: 1px solid var(--black);
  box-shadow: 0px 2.5px 0px var(--black);
  font-size: 1.6rem;
}

#app {
  width: 100%;
}
@media screen and (min-width: 992px) {
  #app {
    max-width: 850px;
  }
}

.audioplayer {
  padding: 1rem;
  width: 100%;
}
.audioplayer header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}
@media screen and (min-width: 992px) {
  .audioplayer div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
}

.highlight {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.6rem;
  border: 1px solid var(--black);
  box-shadow: 0px 2.5px 0px var(--black);
  padding: 1.5rem;
  width: 100%;
}
.highlight h1 {
  padding: 0.5rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: 600;
  border-radius: 0.6rem;
}
.highlight img {
  margin: 1rem 0;
  width: 200px;
  height: 200px;
  padding: 0.2rem;
  border: 1px solid var(--black);
}
.highlight .grayscale {
  filter: grayscale(40%);
}
.highlight .highlight-informations {
  text-align: center;
  margin-bottom: 1rem;
}
.highlight .highlight-informations .highlight-titre {
  font-size: 1.3rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}
@media screen and (min-width: 992px) {
  .highlight {
    margin-right: 1rem;
  }
}

.search-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.6rem;
  border: 1px solid var(--black);
  box-shadow: 0px 2.5px 0px var(--black);
}
.search-bar input {
  margin-right: 0.5rem;
  padding: 0.3rem;
  border: none;
  outline: none;
  background-color: transparent;
  color: var(--black-transparence);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}
.search-bar input::-moz-placeholder {
  color: var(--black-transparence);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}
.search-bar input::placeholder {
  color: var(--black-transparence);
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 500;
}
.search-bar span {
  color: var(--blue);
}

.player {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.6rem;
}
.player .player-time {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.player .player-volume {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}
.player .player-volume input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 70%;
  height: 4px;
  border-radius: 1rem;
  background-color: var(--black);
  cursor: pointer;
}
.player .player-volume input::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  background-color: var(--black);
  width: 10px;
  height: 10px;
  border-radius: 100%;
}

.playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 1.5rem;
}
.playlist .piece {
  width: 100%;
}
.playlist .piece:not(:last-of-type) {
  margin-bottom: 0.5rem;
}
.playlist .piece a {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 0.3rem;
  border-radius: 0.6rem;
  border: 1px solid var(--black);
  box-shadow: 0px 2.5px 0px var(--black);
  width: 100%;
  padding: 0.5rem;
  border-radius: 0.5rem;
  text-decoration: none;
  color: var(--black);
}
.playlist .piece a img {
  border: 1px solid var(--black);
  padding: 0.2rem;
  width: 45px;
}
.playlist .piece a .grayscale-100 {
  filter: grayscale(100%);
}
.playlist .piece a .piece-informations {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 2rem;
}
.playlist .piece a .piece-informations div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.playlist .piece a .piece-informations .piece-titre {
  font-weight: 700;
  margin-bottom: 0.2rem;
}
.playlist .piece a .piece-informations .piece-artiste {
  font-size: 0.9rem;
}
@media screen and (min-width: 992px) {
  .playlist {
    margin-top: 0;
    width: 100%;
  }
}/*# sourceMappingURL=style.css.map */