/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

[v-cloak] {
  display: none;
}

html {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.audio-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.audio-player header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
}
.audio-player header .recherche {
  display: flex;
  align-items: center;
}
.audio-player .chanson-selectionnee {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  padding: 1rem;
}
.audio-player .chanson-selectionnee div {
  margin-left: 1rem;
}
.audio-player .lecteur {
  width: 100%;
  height: 110px;
  padding: 1rem;
  background-color: rgb(53, 53, 53);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.audio-player .lecteur .lecteur-btns {
  display: flex;
  align-items: center;
  justify-content: center;
}
.audio-player .lecteur .lecteur-btns span {
  color: white;
}
.audio-player .lecteur .lecteur-temps {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.audio-player .lecteur .lecteur-temps input {
  width: 100%;
}
.audio-player .lecteur .lecteur-temps div {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.audio-player .liste-chansons {
  width: 100%;
  padding: 1rem;
}
.audio-player .liste-chansons .chanson {
  width: 100%;
}
.audio-player .liste-chansons .chanson a {
  display: flex;
  position: relative;
  justify-content: space-between;
  text-decoration: none;
  padding: 0.5rem;
  border-radius: 1rem;
  background-color: rgb(124, 216, 216);
  color: rgb(12, 12, 12);
}
.audio-player .liste-chansons .chanson a .informations-chanson {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-left: 0.5rem;
}
.audio-player .liste-chansons .chanson a .informations-chanson div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.audio-player .liste-chansons .chanson a .informations-chanson div .titre {
  margin-bottom: 0.1rem;
  font-weight: 600;
}
.audio-player .liste-chansons .chanson a .informations-chanson div .artiste {
  font-size: 0.8rem;
}
.audio-player .liste-chansons .chanson a .informations-chanson .temps {
  font-size: 0.8rem;
}
.audio-player .liste-chansons .chanson a:hover {
  background-color: rgba(0, 0, 0, 0.164);
}
.audio-player .liste-chansons .chanson:not(last-child) {
  margin-bottom: 0.5rem;
}

.petite-image {
  width: 50px;
  height: 50px;
  border-radius: 0.5rem;
}

.grande-image {
  border-radius: 0.5rem;
}

button {
  border: none;
  background-color: transparent;
  display: flex;
  padding: 0;
}/*# sourceMappingURL=style.css.map */