<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Player 😎</title>
    <link rel="shortcut icon" href="#">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">

        <section class="accueil" v-if="pageActive=='accueil'" v-cloak>
            <h1>Accueil</h1>
            <button @click.prevent="changerPage('audio-player')">
                Audio Player
            </button>
        </section>
    
        <section class="audio-player" v-if="pageActive=='audio-player'" v-cloak>
            <header>
                <h1>Audio Player</h1>
                <button @click.prevent="changerPage('accueil')">
                    Accueil
                </button>
            </header>

            <section class="recherche">
                <input type="search" name="" id="">
                <button type="submit">Envoyez</button>
            </section>
            
            <section class="liste-chansons" v-for="chanson in chansons">
                <article class="chanson">
                    <a href="" @click.prevent="selectionnerChanson(chanson)">
                        <img :src="`data/${chanson.image}`" alt="">

                        <div class="informations-chanson">
                            <div>
                                <p class="titre">{{chanson.titre}}</p>
                                <p class="artiste">{{chanson.artiste}}</p>
                            </div>
                            
                            <p class="temps">{{formaterTemps(chanson.temps)}}</p>
                        </div>
                    </a>
                </article>
            </section>

            <section class="lecteur" v-if="chanson!=null">
                <div class="lecteur-chanson">
                    <div class="lecteur-informations">
                        <img :src="`data/${chanson.image}`" alt="">

                        <div>
                            <p class="titre">{{chanson.titre}}</p>
                            <p class="artiste">{{chanson.artiste}}e</p>
                        </div>
                    </div>

                    <div class="lecteur-btns">
                        <button @click.prevent="jouer()" v-if="joue==false">
                            Play
                        </button>

                        <button @click.prevent="arreter()" v-if="joue==true">
                            Pause
                        </button>
                    </div>
                </div>

                <div class="duration">
                    <input type="range" name="" id="">
                    <div>
                        <p class="temps">{{formaterTemps(tempsActuel)}}</p>
                        <p class="temps">{{formaterTemps(tempsRestant)}}</p>
                    </div>
                </div>

                <audio :src="`data/${chanson.audio}`" ref="audio" @timeupdate="miseAjour()"></audio>
            </section>

        </section>


    </div>
    <script type="module" src="js/app.js"></script>
</body>
</html>