<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Player 😎</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">

        <section class="accueil" v-if="pageActive=='accueil'" v-cloak>
            <h1>Accueil</h1>
            <button @click.prevent="changerPage('audio-player')">
                Audio Player
            </button>
        </section>
    
        <section class="audio-player" v-if="pageActive=='audio-player'" v-cloak>
            <header>
                <h1>Audio Player</h1>
                <button @click.prevent="changerPage('accueil')">
                    Accueil
                </button>
            </header>
            
            <section class="liste-chansons" v-for="chanson in chansons">
                <article class="chanson">
                    <a href="">
                        <img :src="`data/${chanson.image}`" alt="">

                        <div class="informations-chanson">
                            <div>
                                <p>{{chanson.titre}}</p>
                                <p>{{chanson.artiste}}</p>
                            </div>
                            
                            <p>{{formaterTemps(chanson.temps)}}</p>
                        </div>
                    </a>
                </article>
            </section>
        </section>

    </div>
    <script type="module" src="js/app.js"></script>
</body>
</html>