<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Audio Player</title>
    <link rel="shortcut icon" href="#">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div id="app">

        <!-- Home -->
        <section class="home" v-if="activePage=='home'">
            <h1>Accueil</h1>

            <button @click.prevent="switchPage('audioplayer')">
                Audio Player
            </button>
        </section>
        
        <!-- Audio player -->
        <section class="audioplayer" v-if="activePage=='audioplayer'">
            <header>
                <!-- Back Home -->
                <button @click.prevent="switchPage('home')">
                    <span class="material-icons">
                        arrow_back
                    </span>
                </button>

                <!-- Serach bar -->
                <section class="search-bar">
                    <input type="text" placeholder="Chercher un titre/artiste">
                    <span class="material-icons">
                        search
                    </span>
                </section>
            </header>

            <!-- Highlight -->
            <section class="highlight">
                <h1 v-if="chanson">Joue maintenant</h1>

                <img :src="`data/${image}`" alt="" width="100px">

                <div v-if="!chanson">
                    <p>Aucune chanson séléctionné</p>
                </div>

                <div v-if="chanson">
                    <p>{{chanson.titre}}</p>
                    <p>{{chanson.artiste}}</p>
                </div>
            </section>

            <!-- Player -->
            <section class="player">
                <p>{{formaterTemps(tempsActuel)}}</p>

                <button v-if="!joue" @click.prevent="jouer()">
                    <span class="material-icons">
                        play_arrow
                    </span>
                </button>

                <button v-if="joue" @click.prevent="arreter()">
                    <span class="material-icons">
                        pause
                    </span>
                </button>

                <p>{{formaterTemps(tempsRestant)}}</p>
                
                <audio :src="`data/${audio}`" ref="audio" @timeupdate="miseAjour()" @play="jouer()" @ended="arreter()"></audio>
            </section>

            <!-- Playlist -->
            <section class="playlist">
                <article class="piece" v-for="chanson in chansons">
                    <a href="" @click.prevent="selectionnerChanson(chanson)">
                        <img :src="`data/${chanson.image}`" alt="" width="50px">

                        <section class="piece-informations">
                            <div>
                                <p>{{chanson.titre}}</p>
                                <p>{{chanson.artiste}}</p>
                            </div>
                            
                            <p>{{formaterTemps(chanson.temps)}}</p>
                        </section>
                    </a>
                </article>
            </section>
        </section>

    </div>
    <script type="module" src="js/app.js"></script>
</body>
</html>