[v-cloak] {
    display: none;
}

html {
	box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
	font-size: 16px;
	line-height: 1.5;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

.audio-player {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin-bottom: 2rem;
        padding: 1rem;

        .recherche {
            display: flex;
            align-items: center;
        }
    }

    .chanson-selectionnee {
        display: flex;
        justify-content: flex-start;
        width: 100%;
        padding: 1rem;
        
        & div {
            margin-left: 1rem;
        }
    }

    .lecteur {
        width: 100%;
        height: 110px;
        padding: 1rem;
        background-color: rgb(53, 53, 53);
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .lecteur-btns {
            display: flex;
            align-items: center;
            justify-content: center;
            
            & span {
                color: white;
            }
        }
        
        .lecteur-temps {
            display: flex;
            flex-direction: column;
            align-items: center;

            & input {
                width: 100%;
            }

            & div {
                width: 100%;
                display: flex;
                justify-content: space-between;
            }
        }
    }

    .liste-chansons {
        width: 100%;
        padding: 1rem;

        .chanson {
            width: 100%;
            
            & a {
                display: flex;
                position: relative;
                justify-content: space-between;
                text-decoration: none;
                padding: 0.5rem;
                border-radius: 1rem;
                background-color: rgb(124, 216, 216);
                color: rgb(12, 12, 12);
                
                .informations-chanson {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    width: 100%;
                    margin-left: 0.5rem;
                    
                    & div {
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
    
                        .titre {
                            margin-bottom: 0.1rem;
                            font-weight: 600;
                        }
    
                        .artiste {
                            font-size: 0.8rem;
                        }
                    }
    
                    .temps {
                        font-size: 0.8rem;
                    }
                }
    
                &:hover {
                    background-color: rgba(0, 0, 0, 0.164);
                }
            }
        }
        
        .chanson:not(last-child) {
            margin-bottom: 0.5rem;
        }
    }
}

.petite-image {
    width: 50px;
    height: 50px;
    border-radius: 0.5rem;
}

.grande-image {
    border-radius: 0.5rem;
}

button {
    border: none;
    background-color: transparent;
    display: flex;
    padding: 0;
}