.highlight {
    @include setFlex(column, center, center);
    min-height: 300px;
    border-radius: 0.5rem;
    background-color: var(--white);

    & h1 {
        margin-bottom: 1rem;
        text-align: center;
        font-size: 1.2rem;
        font-weight: 600;
    }

    & img {
        width: 200px;
        border-radius: 100%;
    }
}