/**
 * Permet de définir les propriétés flexbox d'un élément.
 */
 @mixin setFlex($direction, $justify, $align) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify;
    align-items: $align;
}

/**
 * Permet d'ajouter une bordure rouge sur un élément.
 */
@mixin debug() {
    border: 1px solid red;
}

/**
 * Ajoute une bordure noir stylisé sur un élément.
 */
@mixin border() {
    padding: 0.3rem;
    border-radius: 0.6rem;
    border: 1px solid var(--black);
    box-shadow: 0px 2.5px 0px var(--black);
}