.player {
    @include setFlex(column, space-between,center);
    width: 100%;
    padding: 0.5rem;
    border-radius: 0.6rem;

    .player-time {
        @include setFlex(row, space-between, center);
        width: 100%;
    }

    .player-volume {
        @include setFlex(row, center, center);
        width: 100%;
        margin-top: 1rem;

        & input {
            appearance: none;
            width: 70%;
            height: 4px;
            border-radius: 1rem;
            background-color: var(--black);
            cursor: pointer;
            
            &::-webkit-slider-thumb {
                appearance: none;
                background-color: var(--black) ;
                width: 10px;
                height: 10px;
                border-radius: 100%;
            }
        }
    }
}