.playlist {
    @include setFlex(column, center, flex-start);
    margin-top: 1.5rem;

    .piece {
        width: 100%;
        
        &:not(:last-of-type) {
            margin-bottom: 0.5rem;
        }
        
        a {
            @include setFlex(row, flex-start, center);
            @include border();
            width: 100%;
            padding: 0.5rem;
            border-radius: 0.5rem;
            text-decoration: none;
            color: var(--black);

            & img {
                border: 1px solid var(--black);
                padding: 0.2rem;
                width: 45px;
            }

            .grayscale-100 {
                filter: grayscale(100%);
            }

            & .piece-informations {
                @include setFlex(row, space-between, center);
                width: 100%;
                margin-left: 2rem;

                & div {
                    @include setFlex(column, flex-start, flex-start)
                }

                .piece-titre {
                    font-weight: 700;
                    margin-bottom: 0.2rem;
                }

                .piece-artiste {
                    font-size: 0.9rem;
                }
            }
        }
    }

    @media screen and (min-width: 992px) {
        margin-top: 0;
        width: 100%;
    }
}