.search-bar {
    @include setFlex(row, flex-start, center);
    @include border();
    
    & input {
        margin-right: 0.5rem;
        padding: 0.3rem;
        border: none;
        outline: none;
        background-color: transparent;
        color: var(--black-transparence);
        font-family: "Plus Jakarta Sans", sans-serif;
        font-weight: 500;

        &::placeholder {
            color: var(--black-transparence);
            font-family: "Plus Jakarta Sans", sans-serif;
            font-weight: 500;
        }
    }

    & span {
        color: var(--blue);
    }
}